* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    color: #666;
}

p {
    margin: 0.5ex 0;
}

h3 {
    font-weight: lighter;
}

h3,
h4 {
    text-transform: uppercase;
    margin: 1ex 0;
}

h4 {
    color: #333
}

ul {
    padding: 0;
    margin: 0;
}

/* For mobile phones: */

.main,
.side {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .main {
        width: 50%;
    }
    .side {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .main {
        width: 75%;
    }
    .side {
        width: 25%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.header-cont {
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    background-color: darkseagreen;
    border: 1px solid #ccc;
    padding: 2ex;
}

.header {
    margin: 0 auto;
    width: fit-content;
    font-weight: normal;
    color: #333;
}

.content {
    margin-top: 40px;
    padding: 1em;
}

.main {
    padding: 1em;
}

.description {
    text-transform: uppercase;
    font-size: 14px;
}

.location {
    font-size: 14px;
    float: right;
}

.details,
.info,
.languages {
    font-size: 12px;
}

.details li,
.languages li {
    list-style-type: none;
    display: inline;
    padding: 0 1ex;
}

.details li:first-of-type {
    padding-left: 0;
}

.details li:not(:last-of-type) {
    border-right: 1px solid #ccc;
}

.languages li {
    color: #333;
    background-color: darkseagreen;
    border-radius: 1ex;
    padding: 0.2ex 1ex;
}

.side {
    padding: 1em;
    float: left;
}

.side ul {
    max-height: 300px;
}

.side li {
    list-style-type: none;
}

.side>.section:not(.links) li {
    background-color: darkseagreen;
    float: left;
    clear: right;
    width: 100px;
    margin: 0.1ex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.side>.section:not(.links) li:not(.intermediate):not(.beginner) {
    height: 100px;
}

.side>.section:not(.links) li.intermediate {
    height: 75px;
}

.side>.section:not(.links) li.beginner {
    height: 50px;
}

.side>.section:not(.links) li:hover,
.languages li:hover {
    background-color: mediumaquamarine;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.main {
    float: left;
}

.section {
    padding-bottom: 1em;
}

.subsection {
    padding-bottom: 1em;
}

.experience .subsection {
    border-bottom: 1px solid #ccc;
    margin-top: 1ex;
}

.experience h4 {
    margin-top: 0;
}

.projects {
    margin-left: 1em;
    margin-top: 1em;
}

.projects li {
    padding: 0.5ex 0;
}

.experience h4,
.designation {
    display: inline-block;
}

.designation {
    font-weight: lighter;
    font-size: 85%;
    border-left: 1px solid #ccc;
    padding-left: 1ex;
}

a:link {
    color: darkseagreen;
}

a:vlink {
    color: darkseagreen;
}

a:alink {
    color: darkseagreen;
}